body{
	background:  	#FFEC8B;
	font-family: 'Roboto', sans-serif;
}
h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 3em;
}
h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	
}
h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.4em;
	padding: 5px;
	border-radius:5px;
	margin: 20px 0px 10px 0px;
	background: #fda;
	color:#191970;
	
}
h3:first-child {
	margin-top: 0px;
	
}
h5{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3em;
	margin-bottom: 20px;
}
a{
	color: #EE2C2C;
	text-decoration: none;
	
}

header, main,footer {
	min-width: 855px;
	
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: 0;
	
}

header {
	background: white;
	overflow: auto;
	padding: 25px 0px 25px 40px;
	border-bottom: 1px solid #ddd;
}
header .leftcolumn {
	float: left;
	width: 570px;
	
}
header .rightcolumn {
	float: right;	
	width: 285px;	
}

main {
	padding: 40px;
	background: #fff;
	overflow: auto;
}
main .content {
	padding: 30px 10px 30px 10px;
	background: #eee;
	border-radius:0px 10px 10px 10px;
	
}


main .content li {
	padding: 3px;
	border-radius:10px;
	margin-bottom: 10px;
	padding: 5px;
	background: #eff;
}

main .content input{
	width:80%;
	height:25px;
	font-size: 1.2em;
	border-radius:5px;
}

main .content button {
	font-weight: bold;
	padding: 0 3px 0 3px;
	border-radius: 5px;
	color: ivory;
	background: #00CD00;
	cursor: pointer;
	font-size: 1.4em;
	margin-left: 5px;

}

main .content p {
    margin: 30px 0 0 0;
}

main .content p:first-child {
    margin-top: 10px;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}
.tabs a span.active {
	background: #eee;
}

footer {
	border-top:1px solid;
	padding:40px 0px 20px 40px;
}

footer .contact{
	float: left;
	width: 570px;
	
}
footer .contact p:nth-child(2) {
	 
	 font-style: italic;
}
footer .sitemap{
	float: right;
	width: 285px;
	
}
footer ul {
    width: 100px;
}
footer li {
    list-style: none;
}


footer .sitemap .leftcolumn{
	float: left;
	
}
footer .sitemap .rightcolumn{
	float: right;
	
}

